.label {
  font-size: var(--font-lg);
  display: flex;
  align-items: center;
  gap: 4px;
}

.labelRequired {
  font-size: var(--font-xs);
}

.input {
  margin: var(--space-1) 0 var(--space-2);
  padding: var(--space-1);
  border-radius: var(--radius-xs);
  border: 1px solid var(--neutral-400);
  background-color: var(--neutral-50);
}

.input:focus {
  outline: 2px solid var(--primary-600);
  background-color: var(--neutral-50);
}

.selectInput:disabled {
  background-color: var(--neutral-100);
  color: var(--neutral-400);
  border-color: var(--neutral-200);
  cursor: not-allowed;
}

.error {
  border-color: var(--error-red);
}

.errorMessage {
  font-size: var(--font-sm);
  color: var(--error-red);
  margin-top: var(--space-1);
}
