.button {
  font-family: var(--body-font);
  font-size: var(--font-md);
  font-weight: var(--font-semibold);
  padding: var(--space-2) var(--space-4);
  border: none;
  border-radius: var(--radius-sm);
}

.primary {
  background-color: var(--primary-700);
  color: var(--primary-50);
}

.primary:hover:not(:disabled) {
  background-color: var(--primary-800);
}

.secondary {
  background-color: var(--primary-50);
  border: 2px solid var(--primary-800);
  color: var(--primary-800);
}

.secondary:hover:not(:disabled) {
  background-color: var(--primary-100);
  border: 2px solid var(--neutral-800);
  color: var(--neutral-800);
}

.disabled {
  background-color: var(--primary-100);
  color: var(--neutral-400);
}

.loading {
  opacity: 0.8;
}

.loading,
.disabled {
  cursor: not-allowed;
}

.fullWidth {
  width: 100%;
}
