.components {
  margin: 0;
  max-width: 1400px;
  min-width: 0;
}

.componentsHeading {
  font-weight: var(--font-bold);
  color: var(--neutral-400);
  letter-spacing: 0.1rem;
}

@media (min-width: 700px) {
  .components {
    margin: 2em;
  }
}
