.card {
  height: auto;
  background-color: var(--primary-50);
  border-radius: var(--radius-md);

  box-shadow:
    0 1px 2px rgba(15, 20, 23, 0.04),
    0 4px 12px rgba(15, 20, 23, 0.05);
}

.cardImgContainer {
  width: 280px;
  height: 180px;
}

.cardImg {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.cardDetails {
  padding: var(--space-2) var(--space-3) var(--space-5);
}

.cardText {
  font-size: var(--font-sm);
  margin: 0 0 var(--space-3) 0;
}

.cardLink {
  text-decoration: none;
  font-weight: var(--font-medium);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-3) 0 0 0;
}

.cardLink:hover,
.cardLink:focus,
.cardLink:active {
  text-decoration: underline;
}

.vertical {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.horizontal {
  display: flex;
  flex-direction: row;
  width: auto;
}

.vertical .cardImg {
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.horizontal .cardImg {
  border-radius: var(--radius-md) 0 0 var(--radius-md);
}
