.menuButton {
  padding: var(--space-2) var(--space-4);
  background-color: var(--neutral-200);
  margin: 0 var(--space-6) var(--space-4);
  border-radius: var(--radius-sm);
  font-size: var(--font-sm);
  border: none;
  display: none;
  color: var(--text-black);
}

.nav {
  width: 250px;
  min-height: 100%;
  padding: var(--space-6);
  background-color: var(--neutral-50);
  border-right: 1px solid var(--neutral-200);
}

.navHeading {
  font-weight: var(--font-bold);
  padding: 1rem 0 0 0.8rem;
  color: var(--neutral-400);
  letter-spacing: 0.1rem;
}

.navList {
  list-style: none;
  padding: 0;
}

.navItem {
  margin: var(--space-4);
}

.navLink {
  color: var(--neutral-600);
}

.navLink,
.navLinkActive {
  text-decoration: none;
  font-size: var(--font-lg);
}

.navLinkActive {
  border-left: 4px solid var(--primary-600);
  color: var(--primary-700);
  font-weight: var(--font-bold);
  margin: -14px;
  padding: 0 0 0 0.6rem;
}

@media (max-width: 700px) {
  .menuButton {
    display: inline-flex;
    gap: var(--space-2);
    align-items: center;
  }

  .nav {
    width: 100%;
    min-height: unset;
    transform: translateY(-10px);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.3s ease,
      opacity 0.2s ease,
      transform 0.2s ease;
    padding: 0;
  }

  .navList {
    padding: 0 var(--space-5);
  }

  .open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
}
