.codeWrapper {
  position: relative;
  margin: var(--space-4) 0;
}

.copyBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--neutral-100);
  font-family: var(--body-font);
  color: var(--text-black);
  border: none;
  padding: var(--space-2) var(--space-4);
  font-size: var(--font-sm);
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
}

.copyBtn:hover {
  background: var(--primary-100);
}
