.docsHero,
.docsExamples,
.docsUsage,
.docsProps,
.docsAccessibility {
  margin: var(--space-4) 0;
}

.docsExamples {
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
}

.docsTable table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--space-4);
}

.docsTable th,
.docsTable td {
  border: 1px solid var(--neutral-200);
  padding: var(--space-2);
  text-align: left;
}

.docsTable th {
  background-color: var(--neutral-100);
  font-weight: 600;
}
