.docsHero,
.docsExamples,
.docsUsage,
.docsProps,
.docsAccessibility {
  margin: var(--space-4) 0 var(--space-6);
}

.docsHero {
  margin: var(--space-2) 0 var(--space-6);
}

.docsExamples {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
  align-items: center;
}

.docsTable {
  width: 100%;
  overflow-x: auto;
}

.docsTable table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--space-4);
}

.docsTable th,
.docsTable td {
  border: 1px solid var(--neutral-200);
  padding: var(--space-2);
  text-align: left;
}

.docsTable th {
  background-color: var(--neutral-100);
  font-weight: 600;
}

.docs ul {
  line-height: 1.7;
}

.docs h2 {
  margin: var(--space-2) 0 0;
}

.docs h3 {
  margin: var(--space-5) 0 0;
}

.docs h4 {
  margin: var(--space-4) 0 var(--space-2);
}

.badgesExample {
  flex-direction: column;
  align-items: left;
}

.badgesExamplesRow {
  display: flex;
  gap: var(--space-4);
  flex-wrap: wrap;
}
