@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("./variables.css");
@import url("./docs.css");
html {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bg-white);
  color: var(--text-black);
}

h1,
h4,
p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: var(--space-2) 0 0;
}

h3 {
  margin: var(--space-2) 0;
}

a {
  color: var(--text-black);
}
